html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
  }
  
  #top {
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
    border: solid 5px black;
    width: 80%;
    padding: 30px;
    margin-top: 50px;
    background-color:#1c252c;
  }
  
  h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 2%;
    color: #c62a52;
  }

  b, p {
    color: #c62a52;

  }
  
  #content {
    margin-top: 100px;
    font-size: 2em;
    text-align: center;
  }

  #divOne, #divTwo, #userContent {
    margin: 50px auto;
    border: solid 5px black;
    padding: 10px;
    width: 75%;
    height: 300px;
    text-align: center;
    position: relative;
    background-color: #413E39;
    border-radius: 25px;

    
  }

  #medDiv, #specDiv {
    /*border: solid 5px red;*/
    padding: 10px;
    position: absolute;
    width: 500px;
    text-align: center;
    float: left;
    margin-left: 45%;
    margin-top: 10%;
  }

  #lightDiv, #hevDiv {
    /*border: solid 5px red;*/
    padding: 10px;
    position: absolute;
    width: 500px;
    text-align: center;
    float: left;
    margin-left: -5%;
    margin-top: 10%;
  }

  #medDiv, #lightDiv, #hevDiv {
    margin-top: 5%
  }

  #specDiv {
    margin-top: 3%;
  }



  div > label {
    margin-top: 150px;
    color: #68ecba;
    font-size: 24px;
  }

  #specField { 
    margin-top: 10px;
  }


  div > input {
    margin-top: 50px;
    color: blue;
    width: 100px;
  }

  #name {
    font-size: 36px;
    color: #5CA1F0;

  }

  #imgLabel {
    color: #5CA1F0;
  }

  img {
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
    padding: 20px;
  }

  #urlField {
    display: none;
  }

   #userContent:empty {
    display: none;
  }

  #userContent {
    width: 45%;
    padding: 30px;
  }

  #userContent{
    color: #68ecba;

  }